name: Build QEMU arm64-native with riscv64 target

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout QEMU
        run: |
         git clone https://gitlab.com/qemu/qemu.git

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential ninja-build meson python3-venv \
            libglib2.0-dev libpixman-1-dev libseccomp-dev \
            libvirglrenderer-dev libepoxy-dev libgtk-3-dev libsdl2-dev \
            libspice-server-dev libusb-1.0-0-dev libusbredirparser-dev \
            libbz2-dev liblzo2-dev libzstd-dev libcurl4-gnutls-dev \
            libgnutls28-dev libfdt-dev libncursesw5-dev pkg-config

      - name: Configure
        run: |
          ./configure --target-list=riscv64-softmmu \
                      --enable-virglrenderer --enable-opengl \
                      --enable-gtk --enable-sdl --enable-kvm \
                      --enable-vhost-net --enable-libusb \
                      --enable-usb-redir --enable-spice \
                      --enable-seccomp --enable-fdt \
                      --enable-lzo --enable-bzip2 \
                      --enable-tools --enable-vnc \
                      --enable-gnutls --enable-curl \
                      --prefix=$PWD/install

      - name: Compile
        run: |
          make -j$(nproc)
          make install

      - name: Tarball
        run: |
          cd install
          tar -czf ../qemu-system-riscv64-arm64.tar.gz *

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: master-arm64-riscv64
          files: qemu-system-riscv64-arm64.tar.gz
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
